{% extends "base.html" %}

{% block content %}
{% if user.is_authenticated %}
<center>
<p>Add Venue to Database </p>
<br>ID: {{ user.id }}
{% if submitted %}
     Your Venue Was Submitted
     Succefully!
{% else %}
    <form action="" method=POST enctype="multipart/form-data">
{% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit" class="btn btn-primary" >
    </form> 
{% endif %}
{% else %}
<div class="card-footer text-body-secondary">
    <h1> Sorry! You Must Be Logget In To View This Page...</h1>
    <a href="{% url 'login' %}" class="btn btn-outline-secondary btn-sm" >Login</a>
  </div>
{% endif %}
</center>
{% endblock %}