{% extends "base.html" %}

{% block content %}
<h3>Admin Event Approval Portal</h3>
<br/>
<form action="" method=POST>
{% csrf_token %}
<div class="card ">
  <div class="card-header text-center ">
   Event - Venue - User Count List
  </div>
  <div class="card-body text-center">
    <p class="card-text">Event count:  {{ event_count }}</p>
    <p class="card-text">Venue count:   {{ venue_count}}</p>
    <p class="card-text">User count:  {{ user_count }}</p>
  </div>
</div>
<br/>
<table class="table taablr-striped table-primary table-bordered">
  <thead>
    <tr>
      <th scope="col">Venue Name </th>
      <th scope="col">Venue list</th>
     
    </tr>
  </thead>
  <tbody>
      {% for venue in venue_list %}
      <tr>
          <td><a href="{% url 'show_venue' venue.id %}"> {{ venue }}</a> </td>
          <td> 
            <a href="{% url 'venue_events' venue.id %}" class="btn btn-sm btn-primary "> List Events</a>
          </td>
      </tr>
      {% endfor %}
  </tbody>
</table>
<br/>
<h1>Event Aprroval Form </h1>
<table class="table taablr-striped table-primary table-bordered">
    <thead>
      <tr>
        <th scope="col">Event Name </th>
        <th scope="col">Approved</th>
       
      </tr>
    </thead>
    <tbody>
        {% for event in event_list %}
        <tr>
            <td>{{ event }}</td>
            <td> 
            {% if event.aprroved %}
                <div class="form-check">
                    <input class="form-check-input"type="checkbox" checked="checked" value="{{event.id}}" 
                    name="boxes">  
                </div>
            {% else %}
            <div class="form-check">
                <input class="form-check-input"type="checkbox"  value="{{event.id}}" 
                name="boxes">  
            </div>
            {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
  </table>
  <br/>
  <button class="btn btn-primary" type="submit"> Update Approval</button>
  </form>
{% endblock %}  