{% extends "base.html" %}

{% block content %}<br>
<div class="card">
<div class="card-header">
    {% if searched %}
    <h2>You Searched for... {{ searched }}</h2>
    {% else %}
    Search Events... 
    {% endif %}
</div>
<div class="card-body">
<form class="d-flex" method=POST action="{% url 'search_event' %}">
    {% csrf_token %}
    <input class="form-control me-2" type="search" placeholder="Search Venues" aria-label="Search"name="searched">
    <button class="btn btn-outline-success" type="submit">Search</button>
  </form>
</div></div>
   <br>
        {% for event in events %}
        <div class="card">
            <div class="card-header">
                <strong>{{ event }}</strong>
            </div>
            <div class="card-body">
           
              <h5 class="card-title">Venue: {{ event.venue }}
              </h5>
              <p class="card-text">
                <ul>
                <li>Name: {{ event.name }} </li>
                <li> Date:{{ event.event_data }} </li>
                <li>Manager: {{ event.manager }} </li>
                <li> {{ event.description }} </li>
                <li>Attendees: <br>
                    {% for user in event.attendees.all %}
                    {{ user }}<br>
                    {% endfor %}
                </li>
                </ul>
              </p>
            </div>
            {% if user.is_authenticated %}
                {% if user == event.manager %}
                  <div class="card-footer text-body-secondary">
                    <a href="{% url 'update_event' event.id %}" class="btn btn-outline-secondary btn-sm" >Update event</a>
                    <a href="{% url 'delete_event' event.id %}" class="btn btn-outline-danger btn-sm" >Delete event</a>
                  </div>
                {% endif %}
            {% endif %}
  </div><br>
        {% endfor %}





 



{% endblock %}