{% extends "base.html" %}
{% load static %}
{% block content %}


</center>
<p><strong>Show Venue</strong>  </p>
<ul>



<div class="card">
    <div class="card-header">
        <strong>Venue</strong>
    </div>
    <div class="card-body">
      <h5 class="card-title">Venue: {{ venue}}
      </h5>
      <p class="card-text">
        <ul>
           <li>{{ venue.name }}</li>
           <li>{{ venue.address }}</li>
           <li>{{ venue.zip_code }}</li>
            <li>{{ venue.phone }}</li>
            <li>{{ venue.email_address }}</li>
            <li><a href="{% url 'show_venue' venue.id %}">{{venue.web}} </a></li>
            <li> Owner: {{ venue_owner.email }}</li>
          </ul><br>
          {% if venue.venue_image %}
          <img src= "{{ venue.venue_image.url }}" width="200">
          {% endif %}
    </div>
  </div>

{% endblock %}